<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="NewsConnectionString" connectionString="Data Source=(local) \SQLEXPRESS;Initial Catalog=news;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="appid" connectionString="3965"/>
    <add name="mykey" connectionString="e010647f9a2a4b10bf5a20b3a2e2e736"/>
    <add name="newsurl" connectionString="http://route.showapi.com/109-35"/><!--获取新闻列表的url-->
    <add name="keysurl" connectionString="http://route.showapi.com/109-34"/><!--获取新闻频道的url-->
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
